.contenedor {
    background-color: aqua;
    padding: 10px;
    font-size: 35px;
    text-align: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 2fr 6fr 2fr;
    grid-template-rows: 2fr 1fr 6fr 1fr;

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "section section ads"
        "footer footer footer";



}

.contenedor .section .contenido {
    text-align: center;
    display: grid;
    grid-gap: 10px;
    display: flex;
    flex-direction: row;
    margin: 5%;


}

.contenedor .section .contenido .contenido1 {
    background-color: blueviolet;
    font-size: x large;


}

.contenedor .ads .pupli .caja1 {
    background-color: rgb(255, 0, 0);
    margin: 5%;

}

.contenedor .ads {
    background-color: chartreuse;
    grid-column: ads;
}

.contenedor .footer {
    background-color: red;
    grid-column: footer;
}

.contenedor .header {
    background-color: yellow;
    grid-column: header;

}

.contenedor .nav {
    background-color: cadetblue;
    grid-column: nav;
}

.contenedor .section {
    background-color: green;
    grid-column: section;
}